<div style="position: relative" fxLayoutAlign="center center" fxLayout="column">
    <div class="card-outer-div" fxLayoutAlign="center center" fxLayout="column">
        <ng-container>
            <h3 class="resume-form-info-card-heading" *ngIf="industrialExposure.end_month">
                {{industrialExposure.start_month}} {{industrialExposure.start_year}} -
                {{industrialExposure.end_month}} {{industrialExposure.end_year}}</h3>
            <h3 class="resume-form-info-card-heading" *ngIf="!industrialExposure.end_month">
                {{industrialExposure.start_month}} {{industrialExposure.start_year}} - Present</h3>
            <p class="resume-form-info-card-heading"> {{industrialExposure.city}}, {{industrialExposure.state}}</p>
            <p class="resume-form-info-card-heading">{{industrialExposure.work}}</p>
        </ng-container>
        <div fxLayout="row" fxLayoutAlign="center center" fxHide.xs>
            <div class="hover-container">
                <div class="hover">
                    <button class="resume-form-mat-icon-button" (click)="edit()" mat-icon-button>
                        <mat-icon class="resume-form-mat-icon">create</mat-icon>
                    </button>
                    <button class="resume-form-mat-icon-button" (click)="delete()" mat-icon-button>
                        <mat-icon class="resume-form-mat-icon">delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>