<app-blues-template (downloadTemplate)="downloadTemplate($event)" [resume]="resume"
*ngIf="templateId == this.templateType.BLUES_TEMPLATE">
</app-blues-template>
<app-classic-template (downloadTemplate)="downloadTemplate($event)" [resume]="resume"
  *ngIf="templateId == this.templateType.CLASSIC_TEMPLATE">
</app-classic-template>
<app-modern-template (downloadTemplate)="downloadTemplate($event)" [resume]="resume"
 *ngIf="templateId == this.templateType.MODERN_TEMPLATE">
</app-modern-template>
<app-royal-template (downloadTemplate)="downloadTemplate($event)" [resume]="resume"
*ngIf="templateId == this.templateType.ROYAL_TEMPLATE">
</app-royal-template>
<app-traditional-pane-template (downloadTemplate)="downloadTemplate($event)" [resume]="resume"
      *ngIf="templateId == this.templateType.TRADITIONAL_TEMPLATE">
</app-traditional-pane-template>
