<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px" class="h-100 w-100">
    <img src="../../../../assets/digiresume-green.png" width="36%">
    <h1 class="res-onboarding-title text-success">Welcome to Make my resume!</h1>
    <h2 class="text-center text-info">From the whole team here, thank you for trying us. We are committed to make it easier for you to do
        great work.</h2>
        <button class="bg-primary text-white" mat-raised-button (click)="navigate()">Let's Go!</button>
</div>
