.main-div {
    width: 100vw;
    height: 100vh;
  //  background-image: url("../../../assets/back.jpg");
    justify-content: center;
  }

.sidebar {
  background: #538EC3;
 // margin-left: 12rem;
  width: 300px;
  height: auto;
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.3) !important;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.views-btn{
  position: absolute;
}