.overlay {
    width: auto;
   
  }

  mat-spinner {
    align-self: center;
    margin-top: 2rem;
  }

  button {
    color: white !important;
  }

  mat-card {
    height: auto;
    width: 28rem;
  }
  