<div fxLayout="column" fxLayoutAlign="center center" class="overlay">
   <div fxLayout="column" fxLayoutAlign="center center">
    <mat-card fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px" fxFlex="100%" class="card">
        <mat-icon inline class="icon mb-0">unsubscribe</mat-icon>
        <div fxLayout="column" fxLayoutAlign="center center">
            <h1 class="text-capitalize text-center">you have'nt verified your email yet.</h1>
            <p class="text-center">Please verify your email which is sent to <strong>{{useremail}}</strong> before continuing</p>
        </div>
        <button mat-raised-button class="bg-success text-white text-capitalize mb-4">send Email again</button>
    </mat-card>
   </div>
</div>