<div class="main-container" fxLayout="column"
         fxLayoutGap="30px">
      <iframe *ngIf="!!this.videoUrl" [src]="this.videoUrl"
              width="700px" height="400px"></iframe>
      <ng-container *ngTemplateOutlet="educationTemplate"></ng-container>
      <ng-container *ngTemplateOutlet="experienceTemplate"></ng-container>
      <ng-container *ngTemplateOutlet="interestTemplate"></ng-container>
      <ng-container *ngTemplateOutlet="industrialExposureTemplate"></ng-container>
      <ng-container *ngTemplateOutlet="awardsTemplate"></ng-container>
      <ng-container *ngTemplateOutlet="objectiveTemplate"></ng-container>
      <ng-container *ngTemplateOutlet="referenceTemplate"></ng-container>
      <ng-container *ngTemplateOutlet="projectDetailTemplate"></ng-container>
</div>

    <ng-template #educationTemplate>
      <mat-card fxLayout="column">
        <mat-card-header>
          <div fxLayout="row" fxLayoutAlign="start center"
               fxLayoutGap="30px">
            <mat-icon>school</mat-icon>
            <p>Education</p>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div fxLayout="column" fxLayoutGap="20px" class="card-container ">
            <app-template-education-card *ngFor="let education of this.resume.education"
                                    [education]="education"></app-template-education-card>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-template>
    <ng-template #experienceTemplate>
      <mat-card fxLayout="column">
        <mat-card-header>
          <div fxLayout="row" fxLayoutAlign="start center"
               fxLayoutGap="30px">
            <mat-icon>stars</mat-icon>
            <p>Experience</p>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div fxLayout="column" fxLayoutGap="20px" class="card-container ">
            <app-template-employment-history *ngFor="let data of this.resume.employment_history"
                                             [employmentHistory]="data"></app-template-employment-history>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-template>

    <ng-template #interestTemplate>
      <mat-card fxLayout="column">
        <mat-card-header>
          <div fxLayout="row" fxLayoutAlign="start center"
               fxLayoutGap="30px">
            <mat-icon>flight_land</mat-icon>
            <p>Interest</p>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div fxLayout="column" fxLayoutGap="20px" class="card-container ">
            <app-template-interest *ngFor="let data of this.resume.interests"
                                   [interest]="data"></app-template-interest>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-template>
    <ng-template #industrialExposureTemplate>
      <mat-card fxLayout="column">
        <mat-card-header>
          <div fxLayout="row" fxLayoutAlign="start center"
               fxLayoutGap="30px">
            <mat-icon>build_circle</mat-icon>
            <p>Industrial Exposure</p>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div fxLayout="column" fxLayoutGap="20px" class="card-container ">
            <app-template-industrial-exposure *ngFor="let data of this.resume.industrialExposures"
                                              [industrialExposure]="data"></app-template-industrial-exposure>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-template>
    <ng-template #awardsTemplate>
      <mat-card fxLayout="column">
        <mat-card-header>
          <div fxLayout="row" fxLayoutAlign="start center"
               fxLayoutGap="30px">
            <mat-icon>emoji_events</mat-icon>
            <p>Awards & Achievements</p>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div fxLayout="column" fxLayoutGap="20px" class="card-container ">
            <app-template-awards *ngFor="let data of this.resume.award_achivements"
                                 [award]="data"></app-template-awards>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-template>
    <ng-template #objectiveTemplate>
      <mat-card fxLayout="column">
        <mat-card-header>
          <div fxLayout="row" fxLayoutAlign="start center"
               fxLayoutGap="30px">
            <mat-icon>emoji_objects</mat-icon>
            <p>Objectives</p>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div fxLayout="column" fxLayoutGap="20px" class="card-container ">
            <app-template-objective *ngFor="let data of this.resume.objectives"
                                    [objective]="data"></app-template-objective>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-template>
    <ng-template #referenceTemplate>
      <mat-card fxLayout="column">
        <mat-card-header>
          <div fxLayout="row" fxLayoutAlign="start center"
               fxLayoutGap="30px">
            <mat-icon>groups</mat-icon>
            <p>Reference</p>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div fxLayout="column" fxLayoutGap="20px" class="card-container ">
            <app-template-reference *ngFor="let data of this.resume.refrences"
                                    [reference]="data"></app-template-reference>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-template>
    <ng-template #projectDetailTemplate>
      <mat-card fxLayout="column">
        <mat-card-header>
          <div fxLayout="row" fxLayoutAlign="start center"
               fxLayoutGap="30px">
            <mat-icon>create_new_folder</mat-icon>
            <p>Project Details</p>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div fxLayout="column" fxLayoutGap="20px" class="card-container ">
            <app-template-project-detail *ngFor="let data of this.resume.projectDetails"
                                         [projectDetail]="data"></app-template-project-detail>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-template>