.main-container {
    width: 100%;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }
  .card-container {
    padding-left: 6rem;
  }
  mat-icon {
    font-size: 1.6rem;
  }
  p, mat-icon {
    color: #a85f46;
  }
  p {
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: 1.2rem;
  }