<div style="position: relative;" fxLayoutAlign="center center" fxLayout="column">
    <div class="card-outer-div" fxLayout="column" fxLayoutAlign="center center">
      <ng-container>
        <h3 class="resume-form-info-card-heading">{{language.name}}</h3>
        <h3 class="resume-form-info-card-heading">{{language.level}}</h3>
        <p class="resume-form-info-card-heading">{{language.represent}}</p>
      </ng-container>
      <div fxLayoutAlign="center center">
        <div class="hover-container">
          <div class="hover">
            <button (click)="edit()" class="resume-form-mat-icon-button" mat-icon-button>
              <mat-icon class="resume-form-mat-icon">create</mat-icon>
            </button>
            <button (click)="delete()" class="resume-form-mat-icon-button" mat-icon-button>
              <mat-icon class="resume-form-mat-icon">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

