<div fxLayout="column" style="margin-top: 2%;border-bottom: 1px solid #767270">
    <div fxLayout="row" fxLayoutAlign="space-between center" >
        <h3>{{this.education.degree_type}} @ <span>{{this.education.school_name}}</span></h3>
         <span style="color: #5da4d9;" fxLayoutAlign="end">{{this.education.graduation_month}}
        {{this.education.graduation_year}}</span>
    </div>
    <h4>
      {{education.city}}, {{education.state}} <br>
      {{education.field}} - {{education.percentage}}
    </h4>
  </div>
