<div class="bg-color" fxLayout="column" fxLayoutAlign="start center">
    <mat-tab-group mat-align-tabs="center"  class="w-100 text-white" backgroundColor="primary" color="white" dynamicHeight  >
      <mat-tab label="UPLOAD PROFILE IMAGE">
        <app-upload-image [resume]="resume"></app-upload-image>
      </mat-tab>
      <mat-tab label="UPLOAD EXISTING VIDEO">
        <app-upload-form-disk></app-upload-form-disk>
      </mat-tab>
      <mat-tab label="PASTE YOUTUBE LINK">
        <app-import-youtube [resume]="resume"></app-import-youtube>
      </mat-tab>
    </mat-tab-group>
  </div>
