<form [formGroup]="this.form" (submit)="this.form.valid && addOrUpdate()" class="p-3">
    <div fxLayout="column" fxLayoutGap="10px">
      <mat-form-field>
        <input formControlName="name" matInput placeholder="Name your Strength"/>
        <mat-error>This field is Required</mat-error>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
        <button  fxFlexAlign="end" mat-raised-button class="bg-success text-white">
          <span *ngIf="this.data.strength">Update</span>
          <span *ngIf="!this.data.strength">Add</span>
        </button>
        <button (click)="this.dialogRef.close()" type="button" fxFlexAlign="end" mat-raised-button color="warn">
          Cancel
        </button>
      </div>
    </div>
  </form>

