<form class="overlay" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="40px"
    [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordForm  && !this.isEmailSent ? sendEmail(): changePassword()">
    <img width="20%" src="../assets/digiresume-green.png">
    <mat-card fxLayout="column" class="grad">
        <div fxLayout="column" class="pad-1">
            <h2 class="text-capitalize">forgot password</h2>
            <mat-form-field *ngIf="!this.isEmailSent">
                <input formControlName="email" type="email" matInput placeholder="Email" />
                <mat-error>Valid Email is Required</mat-error>
            </mat-form-field>
            <div fxLayout="column" *ngIf="isEmailSent">
                <mat-form-field>
                  <input formControlName="code" matInput placeholder="Enter Code"/>
                  <mat-error>Valid Code is Required</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input formControlName="new_password" matInput placeholder="New Password"/>
                  <mat-error>Valid Password is Required</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input formControlName="confirm_password" matInput placeholder="Confirm Password"/>
                  <mat-error>Valid Password is Required</mat-error>
                </mat-form-field>
              </div>
            <div *ngIf="!this.isEmailSent" class="mt-4" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="end">
                <button type="submit" class="bg-success text-capitalize" mat-raised-button>send email</button>
            </div>
            <div *ngIf="this.isEmailSent"class="mt-4" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="end">
                <button class="bg-primary text-capitalize" mat-raised-button>Go to Login</button>
                <button type="submit" class="bg-success text-capitalize" mat-raised-button>Change Password</button>
              </div>
            <mat-spinner *ngIf="this.loading" color="accent" diameter="40"></mat-spinner>
        </div>
    </mat-card>
</form>