mat-spinner {
    align-self: center;
    margin-top: 2rem;
  }

  button {
    color: white !important;
  }

  mat-card {
    height: auto;
    width: 25rem;
  }
  .overlay {
    width: 100%;
    height: 100%;
  }