
<div fxLayout="row" fxLayoutAlign="start center" class="header-container">
    <img class="res-header-image" style="width: 15%" src="../../../assets/digiresume-light-green.png">
      <span fxFlex="1 1 auto"></span>
      <div fxHide.xs fxFlex="1 1 auto" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <button routerLinkActive="selected"
                routerLink="resume" class="nav-bar-button" mat-button>Resumes
        </button>
        <button routerLinkActive="selected" routerLink="settings" class="nav-bar-button" mat-button>Settings</button>
        <button (click)="logout()" class="nav-bar-button" mat-button>Logout</button>
        <span fxFlex="35%"></span>
        <div class="username" fxLayoutAlign="start center" fxLayout="row" fxLayoutGap="10px">
          <mat-icon>account_circle</mat-icon>
          <span>{{this.userName}}</span>
        </div>
      </div>
      <div fxHide.gt-xs>
        <button style="color: #a8ee90 !important;" [matMenuTriggerFor]="menu"mat-icon-button>
             <mat-icon>dehaze</mat-icon>
        </button>
        <mat-menu  #menu direction="vertical" [overlapTrigger]="false">
          <div fxLayoutGap="30px" fxFlex="100%" fxLayout="column" fxLayoutAlign="center center" class="res-menu">
            <div fxLayoutGap="10px" fxLayoutAlign="start center" class="username" fxLayout="row">
              <mat-icon>account_circle</mat-icon>
              <span>{{this.userName}}</span>
            </div>
            <button routerLinkActive="selected" routerLink="resume" class="nav-bar-button" mat-button>Resumes</button>
            <button routerLinkActive="selected" routerLink="settings" class="nav-bar-button" mat-button>Settings</button>
            <button (click)="logout()" class="nav-bar-button" mat-button>Logout</button>
          </div>
        </mat-menu>
      </div>
</div>
