<form [formGroup]="this.form" (submit)="this.form.valid && addOrUpdate()" class="p-3">
    <div fxLayout="column" fxLayoutGap="10px">
      <mat-form-field>
        <textarea formControlName="interest" matInput placeholder="Designation"></textarea>
        <mat-error>Interest is Required</mat-error>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
        <button  fxFlexAlign="end" mat-raised-button class="bg-success text-white">
          <span *ngIf="this.data.interest">Update</span>
          <span *ngIf="!this.data.interest">Add</span>
        </button>
        <button (click)="cancel()" type="button" class="text-white" fxFlexAlign="end" mat-raised-button color="warn">Cancel
        </button>
      </div>
    </div>
  </form>
