<form [formGroup]="this.form" (submit)="this.form.valid && addOrUpdate()" class="p-3">
    <div class="alternate" fxLayout="column" fxLayoutGap="10px">
      <mat-form-field>
        <input formControlName="designation" matInput placeholder="Designation"/>
        <mat-error>Designation is Required</mat-error>
        <mat-hint>Example @ Web Developer</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="organisation" matInput placeholder="Organisation"/>
        <mat-error>Organisation is Required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="city" matInput placeholder="City"/>
        <mat-error>City is Required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="state" matInput placeholder="State"/>
        <mat-error>State is Required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea formControlName="employer" matInput placeholder="Explain About Your Work"></textarea>
        <mat-error>This Field is Required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Starting Month</mat-label>
        <mat-select formControlName="start_month">
          <mat-option *ngFor="let month of this.monthArray" [value]="month">
            {{month}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="start_year" matInput placeholder="Starting Year"/>
        <mat-error>Starting Year is Required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>End Month (Don't fill if still working)</mat-label>
        <mat-select formControlName="end_month">
          <mat-option *ngFor="let month of this.monthArray" [value]="month">
            {{month}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="end_year" matInput placeholder="End year(Don't fill if still Working)"/>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
        <button fxFlexAlign="end" mat-raised-button class="bg-success text-white">
          <span *ngIf="this.data.employmentHistory">Update</span>
          <span *ngIf="!this.data.employmentHistory">Add</span>
        </button>
        <button (click)="cancel()" type="button" class="text-white" color="warn" fxFlexAlign="end" mat-raised-button >Cancel</button>
      </div>
    </div>
  </form>

