<h3>{{industrialExposure.organisation}}</h3>
    <span style="color: #5da4d9;float: right; margin-top: -5%;" *ngIf="industrialExposure.end_month">
                      {{industrialExposure.start_month}} {{industrialExposure.start_year}} -
      {{industrialExposure.end_month}} {{industrialExposure.end_year}}
                    </span>
    <span style="color: #5da4d9;float: right; margin-top: -5%;" *ngIf="!industrialExposure.end_month">
                      {{industrialExposure.start_month}} {{industrialExposure.start_year}} - Present
                    </span>
    <h4>
      {{industrialExposure.city}}, {{industrialExposure.state}}
    </h4>
    <p >{{industrialExposure.work}}</p>
