h1 {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 37pt;
  text-align: center;
}

h4 {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

mat-icon {
  font-size: 24px;
}

.container {
  color: #fff;
  width: 100%
}

.border-container {
  border-bottom: 1px solid #fff;
  margin-bottom: 1rem;
  padding-bottom:0.5rem;
}

.profile-pic {
  margin-top: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 2%;
  border: 3px solid white;
  width: 75%;
  height: 200px;
  border-radius: 50%;
}
